{% extends 'base.html' %}
{% block contents %}

<!--information-->
<h4 class="mt-1 mb-4 border-bottom">考え中...</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <p>＜発売予定＞</p>
      <table class="table table-sm table-responsive">
        <thead class="thead-dark">
        <tr>
          <th>発売日</th>
          <th>区分</th>
          <th>タイトル</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>2020/10/30</td>
            <td>BS</td>
            <td>Summer Pockets REFLECTION BLUE</td>
          </tr>
          <tr>
            <td>2020/11/13</td>
            <td>TD</td>
            <td>痛いのは嫌なので防御力に極振りしたいと思います。</td>
          </tr>
          <tr>
            <td>2020/11/20</td>
            <td>BS</td>
            <td>痛いのは嫌なので防御力に極振りしたいと思います。</td>
          </tr>
          <tr>
            <td>2020/12/11</td>
            <td>TD</td>
            <td>ラブライブ！虹ヶ咲学園スクールアイドル同好会 feat.スクールアイドルフェスティバル ALL STARS</td>
          </tr>
          <tr>
            <td>2020/12/18</td>
            <td>TD,BS</td>
            <td>かぐや様は告らせたい～天才たちの恋愛頭脳戦～</td>
          </tr>
          <tr>
            <td>2020/12/25</td>
            <td>TD</td>
            <td>彼女、お借りします</td>
          </tr>
          <tr>
            <td>2020/12/25</td>
            <td>TD</td>
            <td>アニメ「プリンセスコネクト！Re:Dive」</td>
          </tr>
          <tr>
            <td>2021/1/8</td>
            <td>BS</td>
            <td>アニメ「プリンセスコネクト！Re:Dive」</td>
          </tr>
          <tr>
            <td>2021/1/22</td>
            <td>BS</td>
            <td>彼女、お借りします
          </tr>          
        </tbody>
      </table>




      <p>＜考え中…＞</p>
    </div>
  </div>
</div>
{% csrf_token %}
{% endblock %}